@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <h2>Статистика системы:</h2>
        <p>Количество пассажиров в системе: @ViewBag.Passengers</p>
        <p>Количество рейсов в системе: @ViewBag.Flights</p>
        <p>Количество аэропортов в системе: @ViewBag.Airports</p>
    </div>
</div>