body {
  background: url(bg1.jpg);
  background-size: cover;
  background-attachment: fixed
}
#join-button {
  width: 150px;
  background-color: #882D60;
  color: white;
  border: none;
}
#join-button:hover {
  background-color: #882D60;
  color: white;
  box-shadow: 0 0 10px rgba(205, 136, 175, 0.9);
  border-color: rgb(205, 136, 175, 0.6);
  transition: 0.5s;
}
.bg-concordia-dark {
  background-color: #582A72;
}
.container {
  margin-top: 70px;
}
.jumbotron {
  background-color: #403075;
  color: white;
}
.card {
  background-color: #403075;
  color: white;
}
.btn-concordia {
  background-color: #615192;
  color: white;
}
.btn-concordia:hover {
  color: white;
  box-shadow: 0 0 10px rgba(205, 136, 175, 0.3);
  border-color: rgb(205, 136, 175, 0.6);
  transition: 0.5s;
}
